extends ../layouts/main-layout.pug

block style
   link(rel="stylesheet", href="/css/product.css")
block content  
  main 
    if products.length>0
      ul
        each p in products
          li
            p #{p.productData.title} #{p.qty}
          form(action="/cartDeleteItem", method="post")
               input(type="hidden" name="productId" value=p.productData.id) 
               button.btn(type="submit") Delete Book

    else
      h1 No Products in cart 
      
             
        
      