extends ../layouts/main-layout.pug

block style
   link(rel="stylesheet", href="/css/product.css")
block content
   main.centered
     h1.product__title #{product.title}
     hr
     .card__image
        img(src= product.imageurl, alt="A book") 
     .card__content
        h2.product__price #{product.price}
        p.product__description #{product.description}
     form(action="/cart", method="post")
       button.btn(type="submit") Add to cart
       input(type="hidden" name="productId", value=product.id)


       
       
      
     
      
